<a href="https://colab.research.google.com/github/i8dacake/Mat-421/blob/main/ModuleA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **9.1 Base-N and Binary**

Numbers can be represented in different ways. This section explores the decimal and binary number systems.

Decimal system:-
- Represents a number in terms of 0 to 9 digits
- Operates in base 10

Binary system:-
- Represents a number in terms of 0 and 1 digits
- Operates in base 2

Ternary system:-
- Represents a number in terms of 0, 1 and digits
- Operates in base 3

Decimal expansion for 147.3.

In [95]:
147.3 == (1 * 10**2) + (4 * 10**1) + (7 * 10**0) + (3 * 10**(-1))

True

Show 121(base3) is equal to 16(base10).

In [96]:
(1 * 3**2) + (2 * 3**1) + (1 * 3**0) == (1 * 10**1) + (6 * 10**0)

True

Convert 11(base10) into binary.

In [97]:
11 == 8 + 2 + 1 == (1 * 2**3) + (0 * 2**2) + (1 * 2**1) + (1 * 2**0)

  # 11(base 10) = 1011(base2)

True

Convert 37(base10) into binary.

In [98]:
37 == 32 + 4 + 1 == (1 * 2**5) + (0 * 2**4) + (0 * 2**3) + (1 * 2**2) + (0 * 2**1) + (1 * 2**0)

  # 37(base10) = 100101(base2)

True

Convert 17(base10) into binary.

In [99]:
17 == 16 + 1 == (1 * 2**4) + (0 * 2**3) + (0 * 2**2) + (0 * 2**1) + (1 * 2**0)

  # 17(base10) = 10001(base2)

True

Addition in decimal.

In [100]:
37 + 17

54

Addition in binary.

In [101]:
54 == (1 * 2**5) + (1 * 2**4) + (0 * 2**3) + (1 * 2**2) + (1 * 2**1) + (0 * 2**0)

  # (100101 + 10001 = 110110)

True

Multiplication in decimal.

In [102]:
37 * 17

629

Multiplication in binary.

In [103]:
629 == 512 + 64 + 32 + 16 + 4 + 1 == (1 * 2**9) + (0 * 2**8) + (0 * 2**7) + (1 * 2**6) + (1 * 2**5) + (1 * 2**4) + (0 * 2**3) + (1 * 2**2) + (0 * 2**1) + (1 * 2**0)

  # (100101 * 10001 = 1001110101)

True

Decimal expansion for 427.5

In [104]:
427.5 == (4 * 10**2) + (2 * 10**1) + (7 * 10**0) + (5 * 10**(-1))

True

Decimal to binary for 427.5

In [105]:
427.5 == (1 * 2**8) + (1 * 2**7) + (0 * 2**6) + (1 * 2**5) + (0 * 2**4) + (1 * 2**3) + (0 * 2**2) + (1 * 2**1) + (1 * 2**0) + (1 * 2**(-1))

  # 427.5(base 10) = 110101011.1(base 2)

True

# **9.2 Floating Point Numbers**

Floating point numbers or floats help store higly precise, extremely large to extremely small numbers in a computer that has a fixed amount of storage.

This is achieved by splitting the storage space (64 total bits) into three parts: the sign indicator (s), exponent (e), and the fraction (f). The sign indicator tells us whether the number is positive or negative and uses 1 bit. The exponent indicates the power of 2 and uses 11 bits. The fraction is the coefficient of the exponent and uses 52 bits.

In [106]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [107]:
# 15.0(base10) in IEEE754
  # 15 > 0, therefore s = 0
  # e = 3

Using the spacing function to determine the gap at 1e8.

In [108]:
import numpy as np

In [109]:
np.spacing(1e8)

1.4901161193847656e-08

In [110]:
1e8 == (1e8 + np.spacing(1e8)/8)

True

Thus, we have verified that adding a number to 1e8 that is less than half the gap at 1e8 yields the same number.

Verify that adding 4 to the maximum 64 bits float yields the same number.

In [111]:
sys.float_info.max + 4 == sys.float_info.max

True

Verify that adding the maximum 64 bits float with itself leads to an overflow where this overflow number is assigned to inf.

In [112]:
sys.float_info.max + sys.float_info.max

inf

Show that 2 raised to -1075 underflows to 0.0.

In [113]:
2**(-1075)

0.0

Show that 2 raised to -1074 does not overflow.

In [114]:
2**(-1074)

5e-324

# **9.3 Round-off Errors**

In [115]:
5 - 4.2

0.7999999999999998

  We expect the difference to be equal to 0.8, however, it is not due to a rounding error.

In [116]:
0.4 + 0.2 + 0.8

1.4000000000000001

  We expect the sum to be equal to 1.4, however, it is not due to a rounding error.

In [117]:
round(5 - 4.2, 5) == 0.8

True

To solve this issue, the round function can be used.

In [118]:
round(0.4 + 0.2 + 0.8, 5) == 1.4

True

Unfortunately, a sequence of calculations on an initial input with round-off errors can begin to accumulate in a manner where the errors magnify.

Below, we can observe that with an increase in the number of iterations, the errors begin to accumulate, thus affecting the result.

In [119]:
def addsub(iterations):
  result = 1

  for i in range(iterations):
    result += 1/3

  for i in range(iterations):
    result -= 1/3
  return result

In [120]:
  addsub(4) # Adding 1/3 and subtracting 1/3 from 1 for 4 times

1.0

In [121]:
  addsub(400) # Adding 1/3 and subtracting 1/3 from 1 for 400 times

1.0000000000000064

In [122]:
  addsub(4000) # Adding 1/3 and subtracting 1/3 from 1 for 4000 times

0.9999999999998916